@using KalkulatorKredytuHipotecznego.Domain
<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Number raty</TableHeaderCell>
            <TableHeaderCell>Data płatności</TableHeaderCell>
            <TableHeaderCell>Kwota</TableHeaderCell>
            <TableHeaderCell>Kapitał</TableHeaderCell>
            <TableHeaderCell>Odsetki</TableHeaderCell>
            <TableHeaderCell>Saldo</TableHeaderCell>
            <TableHeaderCell>Koszty okołokredytowe</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var installment in Installments)
        {
            <TableRow>
                <TableRowCell>@installment.Index</TableRowCell>
                <TableRowCell>@installment.InstallmentDate.ToShortDateString()</TableRowCell>
                <TableRowCell>@Math.Round(@installment.Installment,2)</TableRowCell>
                <TableRowCell>@Math.Round(@installment.Principal,2)</TableRowCell>
                <TableRowCell>@Math.Round(@installment.Interest,2)</TableRowCell>
                <TableRowCell>@Math.Round(@installment.CreditAmount,2)</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

@code
{
    [Parameter]
    public List<InstallmentDetails> Installments { get; set; } = new();

}
